.button-icon {
    left: -100px;
    position: relative;
  }
  
  .cube {
    transition: all 0.4s;
    transform-style: preserve-3d;
    width: 200px;
    height: 20px;

  }
  
  .button-icon:hover {
    border-color: #ff98a2;

  }
  
  .button-icon:hover .cube {
    transform: rotateX(90deg);

  }
  
  .side {
    position: absolute;
    height: 47px;
    width: 200px;
    display: flex;
    font-size: 0.8em;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-radius: 50%;
  }
  
  .top {
    background: #ff98a2;
    color: #fff;
    transform: rotateX(-90deg) translate3d(0, 13.5px, 2em);
    border-radius: 50%;
  }
  
  .front {
    background: #222229;
    color: #fff;
    transform: translate3d(0, 0, 1em);
    border-radius: 50%;        
}
  